##
# @file      AblePolecat-Stub/usr/.gitignore
# @brief     Git ignore settings for AblePolecat-Stub/usr/.
#
# @author    Karl Kuhrman
# @copyright [BDS II License] (https://github.com/kkuhrman/AblePolecat/blob/master/LICENSE.md)
#

##
# Uncomment if overriding local environment path configuration settings.
#
# etc/polecat/conf/path.config

##
# This file contains local database user password and other private settings.
# It should only be committed if this infomration is public (e.g. example code).
#
etc/polecat/conf/project.xml