<?php
/**
 * @file      AblePolecat-Stub/etc/polecat/conf/path.config
 * @brief     Able Polecat master project path configuration file.
 * 
 * Changes to this file effect the project environment across all platforms.
 * Do not add platform or web server dependent configuration settings to this
 * file; instead, add these changes to ./user/etc/polecat/conf/path.config.
 *
 * @author    Karl Kuhrman
 * @copyright [BDS II License] (https://github.com/kkuhrman/AblePolecat/blob/master/LICENSE.md)
 */
 
/**
 * This is the root directory containing all the interface implementations and 
 * extension class source files.
 */
if (!defined('ABLE_POLECAT_SRC')) {
  global $ABLE_POLECAT_SRC;
  !isset($ABLE_POLECAT_SRC) ? $ABLE_POLECAT_SRC = ABLE_POLECAT_USR  . DIRECTORY_SEPARATOR . 'src' : NULL;
  define('ABLE_POLECAT_SRC', $ABLE_POLECAT_SRC);
}

/**
 * Location of Able Polecat core class library.
 * Override this definition if you intend to locate the core class library
 * anywhere other than ABLE_POLECAT_ROOT/core.
 *
 * Best practice is to clone Able Polecat (and other class libraries) in
 * ./project/usr/libs/
 */
if (!defined('ABLE_POLECAT_CORE')) {
  global $ABLE_POLECAT_CORE;
  !isset($ABLE_POLECAT_CORE) ? $ABLE_POLECAT_CORE = implode(DIRECTORY_SEPARATOR, array(ABLE_POLECAT_USR, 'lib', 'AblePolecat', 'core')) : NULL;
  define('ABLE_POLECAT_CORE', $ABLE_POLECAT_CORE);
}

/**
 * Define additional project-wide configuration changes here.
 */